

<style>
    *{
    margin:0;
    padding:0;
}

.first-section, .second-section, .third-section {
    height:150vh; /* helpful */
    display:flex; /* VERY IMPORTANT APPARENTLY */
}


.ingredient-images{
    position: absolute; /* IMPORTANT APPARENTLY */
    width:400px; /* IMPORTANT APPARENTLY */
    top:420px; /* IMPORTANT APPARENTLY */
}

.section_1_01, .section_2_01, .section_3_01 {
    position: absolute;
    right:-400px;
}
.section_1_02, .section_2_02, .section_3_02 {
    position: absolute;
    right:-275px;

}
.section_1_03, .section_2_03, .section_3_03  {
    position: absolute;
    right:-150px;

}
.section_1_04, .section_2_04, .section_3_04 {
    position: absolute;
    right:-25px;

}

.road {
    z-index: 1000 !important;
}
.images-wrapper {
    z-index: 1 !important;
}

.road {
    width: 300px;
    height: 100vh !important;
    position: fixed;
  background-image: url("https://t3.ftcdn.net/jpg/00/67/32/42/360_F_67324202_9eSsx7EgHkDEnK0AGRkCvliSrd3DCL0C.jpg");
  background-repeat: repeat;

}

.callout {
    height: 80px;
    width: 100px;
    border-radius: 50%;
}

.callout button {
    font-size: 10px;
    font-weight: bold;

}


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Work Sans', sans-serif !important;

}



.fontWeightBold {
    font-weight: 800 !important;
}
h1 {
  font-weight: 600 !important;
}

h2 {
  font-weight: 300 !important;
}

/* Split the screen in half */
.split {
height: 100%;
width: 50%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;
}

/* Control the right side */
.right {
right: 0;
background-color: #eaeaea;
}

/* If you want the content centered horizontally and vertically */
.centered {
text-align: center;

}
.svgdiv {
height: 100%;
    overflow: hidden;
object-fit: contain;
margin: 0;
}
.roadmap_ania {
max-width: 40vw;
}

.mainButton {
stroke: #29304C;
fill:#F0F1F2;

}

.mainButton:hover {
stroke: black;
fill: #ccc;
transition: .1s;
}

.mainButton input:checked ~ .checkmark {
fill: #2196F3;
}

.mainbuttonclicked {
fill: #2196F3;

}
</style>
