---
title: "Caterpillar, V1"
layout: default
permalink: "/I_caterpillar_V1.html"
status: "active"
description: "VERY ROUGH demo of preset/fixed 'side roads' whose options/buttons appear on scroll."
fname: "I_caterpillar_V1"
---

{% include /style/15_scrolltests_style.html %}


<div class="road road-texture" id="road">
</div>


  <section>
    <div class = "road-texture ">

      <div class=" reveal m-5">
        <div class = "section_1_01  callout" style = "width: 250px;">
            <button class = "btn btn-lg btn-primary ">preclinical research</button>
        </div>
        <div class = "section_1_02  callout">
            <button class = "btn btn-lg btn-primary ">other diseases</button>
        </div>
        <div class = "section_1_03  callout">
            <button class = "btn btn-lg btn-primary ">drug screening</button>
        </div>
        <div class = "section_1_04  callout ">
            <button class = "btn btn-lg btn-primary ">off-label use</button>
        </div>
    </div>
  </section>

  <section>
    <div class = "road-texture ">

      <div class=" reveal m-5">
        <div class = "section_1_01  callout" style = "width: 250px;">
            <button class = "btn btn-lg btn-primary ">preclinical research</button>
        </div>
        <div class = "section_1_02  callout">
            <button class = "btn btn-lg btn-primary ">other diseases</button>
        </div>
        <div class = "section_1_03  callout">
            <button class = "btn btn-lg btn-primary ">drug screening</button>
        </div>
        <div class = "section_1_04  callout ">
            <button class = "btn btn-lg btn-primary ">off-label use</button>
        </div>
    </div>
  </section>

  <section>
    <div class = "road-texture ">

      <div class=" reveal m-5">
        <div class = "section_1_01  callout" style = "width: 250px;">
            <button class = "btn btn-lg btn-primary ">preclinical research</button>
        </div>
        <div class = "section_1_02  callout">
            <button class = "btn btn-lg btn-primary ">other diseases</button>
        </div>
        <div class = "section_1_03  callout">
            <button class = "btn btn-lg btn-primary ">drug screening</button>
        </div>
        <div class = "section_1_04  callout ">
            <button class = "btn btn-lg btn-primary ">off-label use</button>
        </div>
    </div>
  </section>

  {% include /scripts/15_scrolltests_script.html %}
