---
title: "Report"
layout: default
permalink: "/report.html"
---

{% include navbar.html %}

<style>
  body {
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
  }
</style>
{% include REPORT/content/introduction.html %}


<section class = "container">
  <h1>
    Rare Disease Non-profit Characteristics
  </h1>

  <p>In this section, we will provide information about the general characteristics of the organizations in our sample (size, funding, activities, etc).​ These characteristics are important to understand the types of organizations who participated in the project, as well as identify characteristics that are potentially precursors for success in both general research support and successful pursuit of drug repurposing. </p>


  <h2>Leadership Titles</h2>

  <p>We invited only members of the leadership team to provide data for their organization. Most of our responses were from the Executive Director, President or Founder of the organization. ​ </p>
  <img src = "{{site.baseurl}}/assets/images/tmp/img4.png"/>


  <h2>Organization year of founding​</h2>
  <p>​Our organizations are "young"! 83 organizations (56%) were founded in 2010 or later, with 9 founded as recently as 2020 during the COVID pandemic. </p>

  <img src = "{{site.baseurl}}/assets/images/tmp/img5.png"/>


  <h2>Number of full-time staff</h2>

  <p>Impressively, most organizations (62%) have no or just one full time, paid staff member. This speaks to the incredibly valuable role that volunteers play in both leading these organizations, as well as conducting all the day to dat duties, from patient support to research coordination.  </p>
  <img src = "{{site.baseurl}}/assets/images/tmp/img6.png"/>

  <h2>Average annual funding (past 3 years)
  </h2>

  <p>Though we have representatives of both very well funded organizations and ones with low funding levels, generally most of our 147 organizations lean towards middle ground funding from $50 to $1,000k on average.</p>
  <img src = "{{site.baseurl}}/assets/images/tmp/img7.png"/>

<h2>Organization's activities of focus </h2>
<p>Though our organizations focus on a wide range of activities, patient education, disease awareness and community development are clear top choices for both general focus as well as top 3 prioritization. </p>
<img src = "{{site.baseurl}}/assets/images/tmp/img8.png"/>


<h2>Organizations supporting research</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img9.png"/>


<h2>Percentage of funding that supports research</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img10.png"/>

<h2>What kind of fundraising activities is your organization involved in to be able to fund research?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img11.png"/>


<h2>Does your organization currently have the following resources?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img12.png"/>

<h2>What are the reasons you’re not interested in developing?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img13.png"/>
<img src = "{{site.baseurl}}/assets/images/tmp/img14.png"/>
<img src = "{{site.baseurl}}/assets/images/tmp/img15.png"/>


</section>

<section class = "container">

  <h1>Rare Disease State of Research</h1>
  <h2>Does your rare disease have the following?  </h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img16.png"/>

  <h2>Are there any FDA-approved drugs for your rare disease or diseases of focus?</h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img17.png"/>

  <h2>What percentage of your rare disease patient population benefits from this FDA-approved drug??
  </h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img18.png"/>

  <h2>For those patients that benefit from it, how effective is this FDA-approved drug at:
  </h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img19.png"/>

  <h2>Would you consider this FDA-approved drug to be a “cure” for at least some of your patient population?</h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img20.png"/>


  <h2>What roadblocks does your patient population have in accessing this FDA-approved drug?</h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img21.png"/>

<h2>Have any other drugs (which have not been FDA approved for your rare disease of focus) been identified as promising for your rare disease of interest?
</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img22.png"/>

<h2>What percentage of your rare disease patient population benefits from this off-label drug?
</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img23.png"/>

<h2>Would you consider this off-label drug to be a “cure” for at least some of your patient population?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img24.png"/>


<h2>For those patients that benefit from it, how effective is this off-label drug at:
</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img25.png"/>

<h2>What roadblocks does your patient population have in accessing this off-label drug?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img26.png"/>

<h2>SUPER FUN ONE</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img27.png"/>

<h2>Among all patients with your rare disease, what percentage has had a reduction in the burden of their disease from a treatment that your organization supported in some way?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img28.png"/>

<h2>Does your organization systematically track off-label drug use in your patient population?
</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img29.png"/>

<h2>Are you interested in tracking this information in the future?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img30.png"/>

<h2>How do you track this off-label use?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img31.png"/>

</section>

<section class = "container">
  <h1>Drug Repurposing</h1>

  <h2>MAKE A BARCHART and PIE CHART of how many orgs listed multiple drugs. </h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img32.png"/>

<h2>Familiarity with drug repurposing prior to this survey</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img33.png"/>

<h2>Interest in pursuing drug repurposing prior to this survey</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img34.png"/>

<h2>Has your organization been involved in any drug repurposing efforts for your rare disease of interest?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img35.png"/>

<h2>Have any drug repurposing initiatives been done for your rare disease of interest without your organization’s involvement?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img36.png"/>

<h2>Would you be interested in pursuing drug repurposing for your rare disease of interest in the future?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img37.png"/>

<h2>What are some reasons for why your organization has not pursued drug repurposing?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img38.png"/>

<h2>Through which process was this drug identified as promising for drug repurposing?
</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img39.png"/>

<h2>What roadblocks have you encountered in the drug repurposing process?
</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img40.png"/>

<h2>What success endpoint(s) were you aiming for in the drug repurposing process?
</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img41.png"/>

<h2>​​What additional support could improve the speed or efficiency of your rare disease drug repurposing work?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img42.png"/>

</section>

<section class = "container">
  <h1>Collaboration</h1>

  <h2>How many organizations do you collaborate with on a regular basis for either research or community-centered projects?</h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img43.png"/>

  <h2>What kinds of activities do you engage in with these organizations?  </h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img44.png"/>

  <h2>Are there organizations focusing on the same rare disease or genetic mutation as your organization?</h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img45.png"/>

  <h2>Do you collaborate with these organizations on a regular basis for either research or community-centered projects?</h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img46.png"/>

  <h2>What are some factors that contribute to the lack of collaboration with these organizations?</h2>
  <img src = "{{site.baseurl}}/assets/images/tmp/img47.png"/>

<h2>Have you merged with or separated from any other rare disease organizations?</h2>
<img src = "{{site.baseurl}}/assets/images/tmp/img48.png"/>

</section>