---
title: "ROADMAP tool"
layout: default
permalink: "/roadmap.html"
---

<style>
    .active_panel {display: block !important;}
    .inactive_panel {display: none !important;}


</style>
{% include /TOOL/style/subway_map_style.html %}
{% include /TOOL/style/split_screen_style.html %}
        
<div style = "z-index: 10000;">

    <div id = "heading_home" class = "main_heading p-1 active_heading_home  "> {% include navbar.html %}</div>

    <h4 id = "heading_prep" class = "main_heading p-1 px-5 shadow-5-strong ">Prep</h4>

        <h4 id = "heading_prep_biobank" class = "main_heading p-1 px-5 shadow-5-strong ">Biobank</h4>
        <h4 id = "heading_prep_research" class = "main_heading p-1 px-5 shadow-5-strong ">Research</h4>
        <h4 id = "heading_prep_registries" class = "main_heading p-1 px-5 shadow-5-strong ">Registries</h4>

    <h4 id = "heading_drugid" class = "main_heading p-1  px-5  shadow-5-strong "">Drug Identification</h4>

    <h4 id = "heading_validation" class = "main_heading p-1 px-5   shadow-5-strong ">Validation</h4>

    <h4 id = "heading_clinical" class = "main_heading p-1 px-5   shadow-5-strong ">Clinical use</h4>

    <h4 id = "heading_outcome" class = "main_heading p-1  px-5  shadow-5-strong " >Outcome</h4>


</div>

<div class="split left " scroll="no" style="overflow: hidden">
<div class = " container">
    <!-- START MAIN SUBWAY LINE -->
    <div class="main_line">
        <div id="line_progress">

            <!-- START PILL -->
            <div id="pill_container">
                <div id="main_pill"><img id = "main_pill_img" src = "https://img.icons8.com/stickers/344/prescription-pill-bottle.png"></div>
            </div>
            <!-- END PILL -->


            <!-- START STOP 1 (HOME) -->
            <div class = "main_stop_home main_stop">
            <div id="main_dot_home" class="main_dot" onclick="home()">
                <div id="branch_line_home" class="branch_line_inactive">
                </div>
                <p class="main_dot_text">Home</p>

            </div>
            <div id="branch_dot_home" class="branch_dot_inactive">
                <div id="branch_dot" class="branch_dot" onclick="about()">
                    <p class="branch_dot_text">about</p>
                </div>
            </div>
        </div>
            <!-- END STOP 1 (HOME) -->

            <!-- START STOP 2 (PREP) -->
            <div class = "main_stop_prep main_stop">

                <div id="main_dot_prep" class="main_dot" onclick="prep()">
                <div id="branch_line_prep" class="branch_line_inactive">
                </div>

            <p class="main_dot_text">Prep</p>
            </div>
            <div id="branch_dot_prep" class="branch_dot_inactive">
                <div id="branch_dot" class="branch_dot" onclick="biobank()">
                    <p class="branch_dot_text">Biobank</p>
                </div>
                <div id="branch_dot" class="branch_dot" onclick="registries()">
                    <p class="branch_dot_text">Registries</p>
                </div>
                <div id="branch_dot" class="branch_dot" onclick="research()">
                    <p class="branch_dot_text">Research</p>
                </div>
            </div>
            </div>

            <!-- END STOP 2 (PREP) -->

            <!-- START STOP 3 (DRUG ID) -->
            <div class = "main_stop_drugid main_stop">

            <div id="main_dot_drugid" class="main_dot" onclick="drugid()">
                <div id="branch_line_drugid" class="branch_line_inactive">
                </div>
                <p class="main_dot_text">Drug ID</p>
            </div>
            <div id="branch_dot_drugid" class="branch_dot_inactive">
                    <div id="branch_dot" class="branch_dot" onclick="drug_screens()" >
                        <p class="branch_dot_text">Drug screens</p>
                    </div>
                    <div id="branch_dot" class="branch_dot" onclick="biology_first()">
                        <p class="branch_dot_text">Biology-first</p>
                    </div>
                    <div id="branch_dot" class="branch_dot" onclick="drug_use_data()">
                        <p class="branch_dot_text">Drug use data</p>
                    </div>
                    <div id="branch_dot" class="branch_dot" onclick="computational()">
                        <p class="branch_dot_text">Computational</p>
                    </div>
                    <div id="branch_dot" class="branch_dot" onclick="rw()">
                        <p class="branch_dot_text">RW reports</p>
                    </div>
            </div>

            </div>
            <!-- END STOP 3 (DRUG ID) -->

            <!-- START STOP 4 (VALIDATION) -->
            <div class = "main_stop_validation main_stop">

            <div id="main_dot_validation" class="main_dot" onclick="validation()">
                <div id="branch_line_validation" class="branch_line_inactive">
                </div>
                <p class="main_dot_text">Validation</p>
            </div>
            <div id="branch_dot_validation" class="branch_dot_inactive">
                <div id="branch_dot" class="branch_dot" onclick="in_vivo()">
                    <p class="branch_dot_text">In vivo</p>
                </div>
                <div id="branch_dot" class="branch_dot" onclick="in_vitro()">
                    <p class="branch_dot_text">In vitro</p>
                </div>
                <div id="branch_dot" class="branch_dot" onclick="rwe_evaluation()">
                    <p class="branch_dot_text">RWE evaluation</p>
                </div>
</div>

            </div>
            <!-- END STOP 4 (VALIDATION) -->

            <!-- START STOP 5 (CLINICAL USE) -->
            <div class = "main_stop_clinical main_stop">

            <div id="main_dot_clinical" class="main_dot" onclick="clinical()">
                <div id="branch_line_clinical" class="branch_line_inactive" >
                </div>
                <p class="main_dot_text">Clinical use</p>
            </div>
            <div id="branch_dot_clinical" class="branch_dot_inactive">
            <div id="branch_dot" class="branch_dot" onclick="clinical_trial()">
                <p class="branch_dot_text">Clinical trial</p>
            </div>
            <div id="branch_dot" class="branch_dot" onclick="off_label_use()">
                <p class="branch_dot_text">Off-label use</p>
            </div>
        </div>

    </div>
            <!-- END STOP 5 (CLINICAL USE) -->

            <!-- START STOP 6 (OUTCOME) -->
            <div class = "main_stop_outcome main_stop">
                <div id="main_dot_outcome" class="main_dot" onclick="outcome()">
                    <div id="branch_line_outcome" class="branch_line_inactive">
                    </div>
                    <p class="main_dot_text">Outcome</p>
                </div>
              <div id="branch_dot_outcome" class="branch_dot_inactive">
                    <div id="branch_dot" class="branch_dot" onclick="approvals()">
                        <p class="branch_dot_text">Approvals</p>
                    </div>
                    <div id="branch_dot" class="branch_dot" onclick="alternatives()">
                        <p class="branch_dot_text">Alternatives</p>
                    </div>
                    <div id="branch_dot" class="branch_dot" onclick="abandoned()">
                        <p class="branch_dot_text">Abandoned</p>
                    </div>
              </div>

            </div>
            <!-- END STOP 6 (OUTCOME) -->
        </div>

    </div>
    <!-- END MAIN SUBWAY LINE -->
</div>


</div>

<div class="split right">
    <div id="home" class="">
        {% include /content/main/home.html %}
    </div>

    <div id="prep" style="display: none;">
        {% include /content/main/prep.html %}
    </div>

    <div id="drugid" style="display: none;">
        {% include /content/main/drugid.html %}
    </div>

    <div id="validation" style="display: none;">
        {% include /content/main/validation.html %}
    </div>

    <div id="clinical" style="display: none;">
        {% include /content/main/clinical.html %}
    </div>

    <div id="outcome" style="display: none;">
        {% include /content/main/outcome.html %}
    </div>

    <div id="about" style="display: none;">
        {% include /content/home/about.html %}
    </div>

    <div id="biobank" style="display: none;">
        {% include /content/prep/biobank.html %}
    </div>

    <div id="registries" style="display: none;">
        {% include /content/prep/registries.html %}
    </div>

    <div id="research" style="display: none;">
        {% include /content/prep/research.html %}
    </div>


    <div id="drug_screens" style="display: none;">
        {% include /content/drugid/drug_screens.html %}
    </div>

    <div id="biology_first" style="display: none;">
        {% include /content/drugid/biology_first.html %}
    </div>

    <div id="drug_use_data" style="display: none;">
        {% include /content/drugid/drug_use_data.html %}
    </div>

    <div id="computational" style="display: none;">
        {% include /content/drugid/computational.html %}
    </div>

    <div id="rw" style="display: none;">
        {% include /content/drugid/rw.html %}
    </div>

    <div id="in_vitro" style="display: none;">
        {% include /content/validation/in_vitro.html %}
    </div>
    <div id="in_vivo" style="display: none;">
        {% include /content/validation/in_vivo.html %}
    </div>
    <div id="rwe_evaluation" style="display: none;">
        {% include /content/validation/rwe_evaluation.html %}
    </div>

    <div id="clinical_trial" style="display: none;">
        {% include /content/clinical/clinical_trial.html %}
    </div>
    <div id="clinical_use" style="display: none;">
        {% include /content/clinical/clinical_use.html %}
    </div>
    <div id="off_label_use" style="display: none;">
        {% include /content/clinical/off_label_use.html %}
    </div>
    <div id="abandoned" style="display: none;">
        {% include /content/outcome/abandoned.html %}
    </div>
    <div id="alternatives" style="display: none;">
        {% include /content/outcome/alternatives.html %}
    </div>
    <div id="approvals" style="display: none;">
        {% include /content/outcome/approvals.html %}
    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>

{% include /TOOL/scripts/display_panels.html %}

{% include /TOOL/scripts/subway_interaction.html %}


