---
title: "ROADMAP tool"
layout: default
permalink: "/roadmap.html"
---

<link
href="{{site.baseurl}}/assets/css/tool.css"
rel="stylesheet"
/>    


<style>
    .active_panel {
        display: block !important;
    }

    .inactive_panel {
        display: none !important;
    }
</style>

{% include navbar.html %}

{% include /TOOL/mobile-warning.html %}


<div style="position: relative; z-index: 100000 !important;">
    <h4 id="heading_2" class="main_heading p-2 px-5 shadow-3-strong">Identification</h4>
    <h4 id="heading_3" class="main_heading p-2 px-5 shadow-3-strong">Validation</h4>
    <h4 id="heading_4" class="main_heading p-2 px-5 shadow-3-strong">Clinical Use</h4>
    <h4 id="heading_5" class="main_heading p-2 px-5 shadow-3-strong">Outcomes</h4>
</div>

<div class="split left " scroll="no" style="overflow: hidden">

    <div class="container">

        <!-- START MAIN SUBWAY LINE -->
        <div class="main_line">
            <div id="line_progress">

                <!-- START PILL -->
                <div id="pill_container">
                    <div id="main_pill"><img id="main_pill_img"
                            src="{{site.baseurl}}/assets/svg/icons8/tutti-red-blue-pill.png"></div>
                </div>
                <!-- END PILL -->


                <!-- START STOP 1 (HOME) -->
                <div class="main_stop_1 main_stop">
                    <div id="main_dot_1" class="main_dot hideThis" onclick="mainstop1()">
                    </div>
                    <p class="main_dot_text">Home</p>

                </div>
                <!-- END STOP 1 (HOME) -->


                <!-- START STOP 2 -->
                <div class="main_stop_2 main_stop">
                    <div id="main_dot_2" class="main_dot" onclick="mainstop2()">
                        <div id="branch_line_2" class="branch_line_inactive">
                        </div>
                    </div>
                    <p class="main_dot_text">Identification</p>

                    <div id="branch_dot_2" class="branch_dot_inactive">
                        <div id="branch_dot" class="branch_dot" onclick="mainstop2_stop1()">
                            <p class="branch_dot_text">Drug screen</p>
                        </div>
                        <div id="branch_dot" class="branch_dot" onclick="mainstop2_stop2()">
                            <p class="branch_dot_text">Pathogenesis targeting</p>
                        </div>
                        <div id="branch_dot" class="branch_dot" onclick="mainstop2_stop3()">
                            <p class="branch_dot_text">Data from similar diseases
                            </p>
                        </div>
                        <div id="branch_dot" class="branch_dot" onclick="mainstop2_stop4()">
                            <p class="branch_dot_text">Computational
                            </p>
                        </div>
                        <div id="branch_dot" class="branch_dot" onclick="mainstop2_stop5()">
                            <p class="branch_dot_text">Off-label use
                            </p>
                        </div>

                    </div>
                </div>

                <!-- END STOP 2-->

                <!-- START STOP 3-->
                <div class="main_stop_3 main_stop">

                    <div id="main_dot_3" class="main_dot" onclick="mainstop3()">
                        <div id="branch_line_3" class="branch_line_inactive">
                        </div>
                    </div>
                    <p class="main_dot_text">Validation</p>

                    <div id="branch_dot_3" class="branch_dot_inactive">
                        <div id="branch_dot" class="branch_dot" onclick="mainstop3_stop1()">
                            <p class="branch_dot_text">In vivo</p>
                        </div>
                        <div id="branch_dot" class="branch_dot" onclick="mainstop3_stop2()">
                            <p class="branch_dot_text">In vitro</p>
                        </div>
                        <div id="branch_dot" class="branch_dot" onclick="mainstop3_stop3()">
                            <p class="branch_dot_text">Evaluation of RWE</p>
                        </div>
                    </div>

                </div>
                <!-- END STOP 3 -->

                <!-- START STOP 4-->
                <div class="main_stop_4 main_stop">
                    <div id="main_dot_4" class="main_dot" onclick="mainstop4()">
                        <div id="branch_line_4" class="branch_line_inactive">
                        </div>
                    </div>
                    <p class="main_dot_text">Clinical Use</p>

                    <div id="branch_dot_4" class="branch_dot_inactive">
                        <div id="branch_dot" class="branch_dot" onclick="mainstop4_stop1()">
                            <p class="branch_dot_text">Clinical trial</p>
                        </div>
                        <div id="branch_dot" class="branch_dot" onclick="mainstop4_stop2()">
                            <p class="branch_dot_text">Off label use</p>
                        </div>
                    </div>

                </div>
                <!-- END STOP 4-->

                <!-- START STOP 5-->
                <div class="main_stop_5 main_stop">
                    <div id="main_dot_5" class="main_dot" onclick="mainstop5()">
                        <div id="branch_line_5" class="branch_line_inactive">
                        </div>
                    </div>
                    <p class="main_dot_text">Outcomes</p>

                    <div id="branch_dot_5" class="branch_dot_inactive">
                        <div id="branch_dot" class="branch_dot" onclick="mainstop5_stop1()">
                            <p class="branch_dot_text">Approvals</p>
                        </div>
                        <div id="branch_dot" class="branch_dot" onclick="mainstop5_stop2()">
                            <p class="branch_dot_text">Alternatives</p>
                        </div>
                        <div id="branch_dot" class="branch_dot" onclick="mainstop5_stop3()">
                            <p class="branch_dot_text">Abandoned</p>
                        </div>
                    </div>
                </div>
                <!-- END STOP 5-->
            </div>
        </div>
        <!-- END MAIN SUBWAY LINE -->
    </div>
</div>


<!-- BRANCH STOPS -->

<div class="split right">

    <!-- main stops -->
    <div id="mainstop1" class="">{% include /TOOL/content/mainstops/mainstop1.html %}</div>
    <div id="mainstop2" style="display: none;"> {% include /TOOL/content/mainstops/mainstop2.html %}</div>
    <div id="mainstop3" style="display: none;">{% include /TOOL/content/mainstops/mainstop3.html %}</div>
    <div id="mainstop4" style="display: none;">{% include /TOOL/content/mainstops/mainstop4.html %}</div>
    <div id="mainstop5" style="display: none;">{% include /TOOL/content/mainstops/mainstop5.html %}</div>

    <!-- branch 1  -->
    <!-- none here for now -->

    <!-- branch 2  -->
    <div id="mainstop2_stop1" style="display: none;">{% include /TOOL/content/mainstop2/stop1.html %}</div>
    <div id="mainstop2_stop2" style="display: none;">{% include /TOOL/content/mainstop2/stop2.html %}</div>
    <div id="mainstop2_stop3" style="display: none;">{% include /TOOL/content/mainstop2/stop3.html %}</div>
    <div id="mainstop2_stop4" style="display: none;">{% include /TOOL/content/mainstop2/stop4.html %}</div>
    <div id="mainstop2_stop5" style="display: none;">{% include /TOOL/content/mainstop2/stop5.html %}</div>

    <!-- branch 3 -->
    <div id="mainstop3_stop1" style="display: none;">{% include /TOOL/content/mainstop3/stop1.html %}</div>
    <div id="mainstop3_stop2" style="display: none;">{% include /TOOL/content/mainstop3/stop2.html %}</div>
    <div id="mainstop3_stop3" style="display: none;">{% include /TOOL/content/mainstop3/stop3.html %}</div>

    <!-- branch 4 -->
    <div id="mainstop4_stop1" style="display: none;">{% include /TOOL/content/mainstop4/stop1.html %}</div>
    <div id="mainstop4_stop2" style="display: none;">{% include /TOOL/content/mainstop4/stop2.html %}</div>

    <!-- branch 5 -->
    <div id="mainstop5_stop1" style="display: none;">{% include /TOOL/content/mainstop5/stop1.html %}</div>
    <div id="mainstop5_stop2" style="display: none;">{% include /TOOL/content/mainstop5/stop2.html %}</div>
    <div id="mainstop5_stop3" style="display: none;">{% include /TOOL/content/mainstop5/stop3.html %}</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>

{% include /TOOL/scripts/display_panels.html %}
{% include /TOOL/scripts/subway_interaction.html %}