<div class = "container">
    <div class = "p-2">
        <h1>View 1 heading</h1>
        <h2>View 1 sub-heading</h2>
        <p id = "maintext" class="">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum
            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident,
            similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
    
    </div>

    <div class = "container">

    <h4 class = "p-2"> Section sub-heading</h4>
    <div class="accordion" id="accordionExampleY">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwoY">
            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#collapseTwoY" aria-expanded="false" aria-controls="collapseTwoY">
              <i class="fa-sharp fa-solid fa-bullseye fa-sm me-2 opacity-70"></i>Accordion Item #1
            </button>
          </h2>
          <div id="collapseTwoY" class="accordion-collapse collapse" aria-labelledby="headingTwoY"
            data-mdb-parent="#accordionExampleY">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by
              default, until the collapse plugin adds the appropriate classes that we use to
              style each element. These classes control the overall appearance, as well as
              the showing and hiding via CSS transitions. You can modify any of this with
              custom CSS or overriding our default variables. It's also worth noting that
              just about any HTML can go within the <code>.accordion-body</code>, though the
              transition does limit overflow.
            </div>
          </div>
        </div>
    
    
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThreeY">
            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#collapseThreeY" aria-expanded="false" aria-controls="collapseThreeY">
              <i class="fa-solid fa-magnifying-glass  me-2 opacity-70"></i>Accordion Item #2
            </button>
          </h2>
          <div id="collapseThreeY" class="accordion-collapse collapse" aria-labelledby="headingThreeY"
            data-mdb-parent="#accordionExampleY">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by
              default, until the collapse plugin adds the appropriate classes that we use to
              style each element. These classes control the overall appearance, as well as
              the showing and hiding via CSS transitions. You can modify any of this with
              custom CSS or overriding our default variables. It's also worth noting that
              just about any HTML can go within the <code>.accordion-body</code>, though the
              transition does limit overflow.
            </div>
          </div>
        </div>



        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourY">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapseFourY" aria-expanded="false" aria-controls="collapseFourY">
                <i class="fa-solid fa-location-dot    fa-sm me-2 opacity-70"></i>Accordion Item #2
              </button>
            </h2>
            <div id="collapseFourY" class="accordion-collapse collapse" aria-labelledby="headingFourY"
              data-mdb-parent="#accordionExampleY">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by
                default, until the collapse plugin adds the appropriate classes that we use to
                style each element. These classes control the overall appearance, as well as
                the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that
                just about any HTML can go within the <code>.accordion-body</code>, though the
                transition does limit overflow.
              </div>
            </div>
          </div>

        

        </div>

      </div>



      <div class = "container pt-5">
        
        <h4 class = "p-2"> Section sub-heading</h4>
        <div class="accordion" id="accordionExampleZ">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwoZ">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#collapseTwoZ" aria-expanded="false" aria-controls="collapseTwoZ">
                  <i class="fa-solid fa-ghost fa-sm me-2 opacity-70"></i>Accordion Item #1
                </button>
              </h2>
              <div id="collapseTwoZ" class="accordion-collapse collapse" aria-labelledby="headingTwoZ"
                data-mdb-parent="#accordionExampleZ">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by
                  default, until the collapse plugin adds the appropriate classes that we use to
                  style each element. These classes control the overall appearance, as well as
                  the showing and hiding via CSS transitions. You can modify any of this with
                  custom CSS or overriding our default variables. It's also worth noting that
                  just about any HTML can go within the <code>.accordion-body</code>, though the
                  transition does limit overflow.
                </div>
              </div>
            </div>
        
        
            
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThreeZ">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#collapseThreeZ" aria-expanded="false" aria-controls="collapseThreeZ">
                  <i class="fa-solid fa-hippo fa-sm me-2 opacity-70"></i>Accordion Item #2
                </button>
              </h2>
              <div id="collapseThreeZ" class="accordion-collapse collapse" aria-labelledby="headingThreeZ"
                data-mdb-parent="#accordionExampleZ">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by
                  default, until the collapse plugin adds the appropriate classes that we use to
                  style each element. These classes control the overall appearance, as well as
                  the showing and hiding via CSS transitions. You can modify any of this with
                  custom CSS or overriding our default variables. It's also worth noting that
                  just about any HTML can go within the <code>.accordion-body</code>, though the
                  transition does limit overflow.
                </div>
              </div>
            </div>
    
    
    
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFourZ">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#collapseFourZ" aria-expanded="false" aria-controls="collapseFourZ">
                    <i class="fa-solid fa-star fa-sm me-2 opacity-70"></i>Accordion Item #2
                  </button>
                </h2>
                <div id="collapseFourZ" class="accordion-collapse collapse" aria-labelledby="headingFourZ"
                  data-mdb-parent="#accordionExampleZ">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by
                    default, until the collapse plugin adds the appropriate classes that we use to
                    style each element. These classes control the overall appearance, as well as
                    the showing and hiding via CSS transitions. You can modify any of this with
                    custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the
                    transition does limit overflow.
                  </div>
                </div>
              </div>
    
              
      </div>      </div>

    </div>
