<script>

    function mainstop1() {

        var mainstop1 = document.getElementById("mainstop1");
        var mainstop2 = document.getElementById("mainstop2");
        var mainstop3 = document.getElementById("mainstop3");
        var mainstop4 = document.getElementById("mainstop4");
        var mainstop5 = document.getElementById("mainstop5");
        var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
        var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
        var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
        var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
        var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
        var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
        var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
        var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
        var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
        var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
        var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
        var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
        var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

        mainstop1.style.display = "block";
        mainstop2.style.display = "none";
        mainstop3.style.display = "none";
        mainstop4.style.display = "none";
        mainstop5.style.display = "none";
        mainstop2_stop1.style.display = "none";
        mainstop2_stop2.style.display = "none";
        mainstop2_stop3.style.display = "none";
        mainstop2_stop4.style.display = "none";
        mainstop2_stop5.style.display = "none";
        mainstop3_stop1.style.display = "none";
        mainstop3_stop2.style.display = "none";
        mainstop3_stop3.style.display = "none";
        mainstop4_stop1.style.display = "none";
        mainstop4_stop2.style.display = "none";
        mainstop5_stop1.style.display = "none";
        mainstop5_stop2.style.display = "none";
        mainstop5_stop3.style.display = "none";
    }
    function mainstop2() {

        var mainstop1 = document.getElementById("mainstop1");
        var mainstop2 = document.getElementById("mainstop2");
        var mainstop3 = document.getElementById("mainstop3");
        var mainstop4 = document.getElementById("mainstop4");
        var mainstop5 = document.getElementById("mainstop5");
        var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
        var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
        var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
        var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
        var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
        var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
        var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
        var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
        var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
        var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
        var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
        var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
        var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

        mainstop1.style.display = "none";
        mainstop2.style.display = "block";
        mainstop3.style.display = "none";
        mainstop4.style.display = "none";
        mainstop5.style.display = "none";
        mainstop2_stop1.style.display = "none";
        mainstop2_stop2.style.display = "none";
        mainstop2_stop3.style.display = "none";
        mainstop2_stop4.style.display = "none";
        mainstop2_stop5.style.display = "none";
        mainstop3_stop1.style.display = "none";
        mainstop3_stop2.style.display = "none";
        mainstop3_stop3.style.display = "none";
        mainstop4_stop1.style.display = "none";
        mainstop4_stop2.style.display = "none";
        mainstop5_stop1.style.display = "none";
        mainstop5_stop2.style.display = "none";
        mainstop5_stop3.style.display = "none";
    }

    function mainstop3() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "block";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop4() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "block";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop5() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "block";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop2_stop1() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "block";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop2_stop2() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "block";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop2_stop3() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "block";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop2_stop4() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "block";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop2_stop5() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "block";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop3_stop1() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "block";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop3_stop2() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "block";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop3_stop3() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "block";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop4_stop1() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "block";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop4_stop2() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "block";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop5_stop1() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "block";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "none";
}


function mainstop5_stop2() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "block";
mainstop5_stop3.style.display = "none";
}


function mainstop5_stop3() {

var mainstop1 = document.getElementById("mainstop1");
var mainstop2 = document.getElementById("mainstop2");
var mainstop3 = document.getElementById("mainstop3");
var mainstop4 = document.getElementById("mainstop4");
var mainstop5 = document.getElementById("mainstop5");
var mainstop2_stop1 = document.getElementById("mainstop2_stop1");
var mainstop2_stop2 = document.getElementById("mainstop2_stop2");
var mainstop2_stop3 = document.getElementById("mainstop2_stop3");
var mainstop2_stop4 = document.getElementById("mainstop2_stop4");
var mainstop2_stop5 = document.getElementById("mainstop2_stop5");
var mainstop3_stop1 = document.getElementById("mainstop3_stop1");
var mainstop3_stop2 = document.getElementById("mainstop3_stop2");
var mainstop3_stop3 = document.getElementById("mainstop3_stop3");
var mainstop4_stop1 = document.getElementById("mainstop4_stop1");
var mainstop4_stop2 = document.getElementById("mainstop4_stop2");
var mainstop5_stop1 = document.getElementById("mainstop5_stop1");
var mainstop5_stop2 = document.getElementById("mainstop5_stop2");
var mainstop5_stop3 = document.getElementById("mainstop5_stop3");

mainstop1.style.display = "none";
mainstop2.style.display = "none";
mainstop3.style.display = "none";
mainstop4.style.display = "none";
mainstop5.style.display = "none";
mainstop2_stop1.style.display = "none";
mainstop2_stop2.style.display = "none";
mainstop2_stop3.style.display = "none";
mainstop2_stop4.style.display = "none";
mainstop2_stop5.style.display = "none";
mainstop3_stop1.style.display = "none";
mainstop3_stop2.style.display = "none";
mainstop3_stop3.style.display = "none";
mainstop4_stop1.style.display = "none";
mainstop4_stop2.style.display = "none";
mainstop5_stop1.style.display = "none";
mainstop5_stop2.style.display = "none";
mainstop5_stop3.style.display = "block";
}
</script>