<h1>BIOBANK</h1>
<div class="container p-5 ">
    <!--Section: Features 3-->
    <section>
      <h3 class="text-center mb-4 pb-2">Why is it so great?</h3>
      <p class="text-center mb-5">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum laborum animi doloremque
        nam dicta veniam dolor ea nostrum excepturi laboriosam molestiae, expedita odit id! Sunt
        quia cumque consequatur perferendis hic.
      </p>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="far fa-paper-plane text-primary pe-2"></i> Feature 1</h5>
          <p>
            Absolutely! We work with top payment companies which guarantees your safety and
            security. All billing information is stored on our payment processing partner which
            has the most stringent level of certification available in the payments industry.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fas fa-pen-alt text-primary pe-2"></i> Feature 2</h5>
          <p>
            You can cancel your subscription anytime in your account. Once the subscription is
            cancelled, you will not be charged next month. You will continue to have access to
            your account until your current subscription expires.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fas fa-user text-primary pe-2"></i> Feature 3</h5>
          <p>
            Currently, we only offer monthly subscription. You can upgrade or cancel your monthly
            account at any time with no further obligation.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fas fa-rocket text-primary pe-2"></i> Feature 4</h5>
          <p>
            Yes. Go to the billing section of your dashboard and update your payment information.
          </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fas fa-home text-primary pe-2"></i> Feature 5</h5>
          <p>Unfortunately, not. We do not issue full or partial refunds for any reason.</p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <h5 class="mb-3"><i class="fas fa-book-open text-primary pe-2"></i> Feature 6</h5>
          <p>
            Of course! We’re happy to offer a free plan to anyone who wants to try our service.
          </p>
        </div>
      </div>
    </section>
    <!--Section: Features 3-->
  </div>



<div class="main-content container">
    <div class = "p-2 pb-4">
        <h1>View 2 heading</h1>
        <h2>View 2 sub-heading</h2>
        <p id = "maintext" class="">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum
            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident,
            similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
    
    </div>
    <div class="header bg-gradient-primary ">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats h-100  mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">HEADING</h5>
                      <span class="h2 font-weight-bold mb-0">147</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">More text can go here</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats h-100  mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">HEADING</h5>
                      <span class="h2 font-weight-bold mb-0">2,356</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">More text can go here</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats h-100  mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">HEADING</h5>
                      <span class="h2 font-weight-bold mb-0">924</span>
                    </div>
                    <div class="col-auto">
                        <div class="icon icon-shape bg-secondary text-white rounded-circle shadow">
                            <i class="fas fa-chart-line"></i>
                          </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">More text can go here</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats h-100  mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">HEADING</h5>
                      <span class="h2 font-weight-bold mb-0">49,65%</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">More text can go here</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
  </div>



  <div class = "container mt-5">

<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
  
    <!-- Inner -->
    <div class="carousel-inner rounded-5 shadow-4-strong ">
      <!-- Single item -->
      <div class="carousel-item active">
        <img src="https://cdcn.org/wp-content/uploads/2021/09/1-1-1024x1024.png" class="view2img" alt="Sunset Over the City"/>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://cdcn.org/wp-content/uploads/2021/09/3-1024x1024.png" class="view2img" alt="Canyon at Nigh"/>
      </div>
  
      <!-- Single item -->
      <div class="carousel-item">
        <img src="https://cdcn.org/wp-content/uploads/2021/09/4-1024x1024.png" class="view2img" alt="Cliff Above a Stormy Sea"/>
      </div>
    </div>
    <!-- Inner -->
  
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->
  </div>


  
<style>
    
.icon {
  width: 3rem;
  height: 3rem;
}

.icon i {
  font-size: 2.25rem;
}

.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.icon-shape i {
  font-size: 1.25rem;
}

.card-title{
    font-size: 10px;
}

.h2 {
    font-size: 25px;
}


.view2img {
    width: 49vw !important;
    max-height: 35vh;
    object-fit: cover;

}
</style>


<div class = "container">
        <div class = "p-2">
    <h1>Prep</h1>
        <h2>View 1 sub-heading</h2>
        <p id = "maintext" class="">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum
            deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
            provident,
            similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
    
    </div>

    <div class = "container">

    <h4 class = "p-2"> Section sub-heading</h4>
    <div class="accordion" id="accordionExampleY">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwoY">
            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#collapseTwoY" aria-expanded="false" aria-controls="collapseTwoY">
              <i class="fa-sharp fa-solid fa-bullseye fa-sm me-2 opacity-70"></i>Accordion Item #1
            </button>
          </h2>
          <div id="collapseTwoY" class="accordion-collapse collapse" aria-labelledby="headingTwoY"
            data-mdb-parent="#accordionExampleY">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by
              default, until the collapse plugin adds the appropriate classes that we use to
              style each element. These classes control the overall appearance, as well as
              the showing and hiding via CSS transitions. You can modify any of this with
              custom CSS or overriding our default variables. It's also worth noting that
              just about any HTML can go within the <code>.accordion-body</code>, though the
              transition does limit overflow.
            </div>
          </div>
        </div>
    
    
        
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThreeY">
            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
              data-mdb-target="#collapseThreeY" aria-expanded="false" aria-controls="collapseThreeY">
              <i class="fa-solid fa-magnifying-glass  me-2 opacity-70"></i>Accordion Item #2
            </button>
          </h2>
          <div id="collapseThreeY" class="accordion-collapse collapse" aria-labelledby="headingThreeY"
            data-mdb-parent="#accordionExampleY">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by
              default, until the collapse plugin adds the appropriate classes that we use to
              style each element. These classes control the overall appearance, as well as
              the showing and hiding via CSS transitions. You can modify any of this with
              custom CSS or overriding our default variables. It's also worth noting that
              just about any HTML can go within the <code>.accordion-body</code>, though the
              transition does limit overflow.
            </div>
          </div>
        </div>



        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFourY">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapseFourY" aria-expanded="false" aria-controls="collapseFourY">
                <i class="fa-solid fa-location-dot    fa-sm me-2 opacity-70"></i>Accordion Item #2
              </button>
            </h2>
            <div id="collapseFourY" class="accordion-collapse collapse" aria-labelledby="headingFourY"
              data-mdb-parent="#accordionExampleY">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by
                default, until the collapse plugin adds the appropriate classes that we use to
                style each element. These classes control the overall appearance, as well as
                the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that
                just about any HTML can go within the <code>.accordion-body</code>, though the
                transition does limit overflow.
              </div>
            </div>
          </div>

        

        </div>

      </div>



      <div class = "container pt-5">
        
        <h4 class = "p-2"> Section sub-heading</h4>
        <div class="accordion" id="accordionExampleZ">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwoZ">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#collapseTwoZ" aria-expanded="false" aria-controls="collapseTwoZ">
                  <i class="fa-solid fa-ghost fa-sm me-2 opacity-70"></i>Accordion Item #1
                </button>
              </h2>
              <div id="collapseTwoZ" class="accordion-collapse collapse" aria-labelledby="headingTwoZ"
                data-mdb-parent="#accordionExampleZ">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by
                  default, until the collapse plugin adds the appropriate classes that we use to
                  style each element. These classes control the overall appearance, as well as
                  the showing and hiding via CSS transitions. You can modify any of this with
                  custom CSS or overriding our default variables. It's also worth noting that
                  just about any HTML can go within the <code>.accordion-body</code>, though the
                  transition does limit overflow.
                </div>
              </div>
            </div>
        
        
            
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThreeZ">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#collapseThreeZ" aria-expanded="false" aria-controls="collapseThreeZ">
                  <i class="fa-solid fa-hippo fa-sm me-2 opacity-70"></i>Accordion Item #2
                </button>
              </h2>
              <div id="collapseThreeZ" class="accordion-collapse collapse" aria-labelledby="headingThreeZ"
                data-mdb-parent="#accordionExampleZ">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by
                  default, until the collapse plugin adds the appropriate classes that we use to
                  style each element. These classes control the overall appearance, as well as
                  the showing and hiding via CSS transitions. You can modify any of this with
                  custom CSS or overriding our default variables. It's also worth noting that
                  just about any HTML can go within the <code>.accordion-body</code>, though the
                  transition does limit overflow.
                </div>
              </div>
            </div>
    
    
    
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFourZ">
                  <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#collapseFourZ" aria-expanded="false" aria-controls="collapseFourZ">
                    <i class="fa-solid fa-star fa-sm me-2 opacity-70"></i>Accordion Item #2
                  </button>
                </h2>
                <div id="collapseFourZ" class="accordion-collapse collapse" aria-labelledby="headingFourZ"
                  data-mdb-parent="#accordionExampleZ">
                  <div class="accordion-body">
                    <strong>This is the third item's accordion body.</strong> It is hidden by
                    default, until the collapse plugin adds the appropriate classes that we use to
                    style each element. These classes control the overall appearance, as well as
                    the showing and hiding via CSS transitions. You can modify any of this with
                    custom CSS or overriding our default variables. It's also worth noting that
                    just about any HTML can go within the <code>.accordion-body</code>, though the
                    transition does limit overflow.
                  </div>
                </div>
              </div>
    
              
      </div>      </div>

    </div>
