<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">

<style>
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .spooky {
  font-family: 'Creepster', cursive;
  font-size: 30px;
  font-weight: regular;
  color: #6F1E8B;
 }

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav ">
        <!-- Dropdown -->
        <li class = "mx-5">
<!-- Button trigger modal -->
            <img src="./assets/ROADMAPBAT.png" height="40px" role="button" class="frida" data-bs-toggle="modal" data-bs-target="#exampleModal"/>
          </li>

        </li>
        
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Demos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            {% for page in site.pages %}     
            {% if page.status == "active" %}        

            <li>
              <a class="dropdown-item nav-link" target = "_blank" href="{{ page.url }}">{{ page.title }}</a>
            </li>
            {% endif %}

          {% endfor %}

          </ul>
        </li>
      </ul>
      
      <ul class="navbar-nav d-flex ml-auto nav-flex-icons">
        <a class="navbar-brand" href="/index.html">
            <img src="./assets/ROADMAP.png" height="40px" alt=""
              style="margin-top: -3px;" />
          </a>
            </ul>

    </div>
  </nav>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class = "pb-3 ">
        <h1 class="" id="">[NAME]</h1>
        <p>ROADMAP Data Bat</p>
      </div>
      <hr>
      <div class = "pt-3 ">
        <p  class = "spooky text-align-center justify-content-center text-center">THERE IS NO SUCH THING AS BAD DATA</p>
        <img class = "center-block" src = "./assets/ROADMAPBAT.png"/> 
        <p class = "spooky text-align-center justify-content-center text-center">ONLY BAT DATA</p>
      </div>
    </div>

    </div>
  </div>
</div>
