<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Demos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" target = "_blank" href="/3_aos_V2.html">Animate on Scroll</a>
            </li>
            <li>
              <a class="dropdown-item"  target = "_blank" href="/8_sticky_V2.html">Sticky map</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav d-flex flex-row">
        <a class="navbar-brand" href="/index.html">
            <img src="./assets/ROADMAP.png" width="100px" alt=""
              style="margin-top: -3px;" />
          </a>
            </ul>

    </div>
  </nav>

