<div class="nav1">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/index.html">
        <img src="./assets/ROADMAP.png" height="15" alt="MDB Logo" loading="lazy" />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/about.html">About the ROADMAP project</a></li>
        <li class="nav-item"><a class="nav-link" href="/roadmap.html">Explore interactive roadmap</a></li>
        <li class="nav-item"><a class="nav-link" href="/survey-data.html">Explore survey data</a></li>
        <li class="nav-item"><a class="nav-link" href="/datasets.html">Download datasets</a></li>
      </ul>
      <!-- Left links -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <a class="d-flex align-items-center mx-2  " href="https://chanzuckerberg.com/" target="_blank">
          <img src="./assets/cdcn.png" height="20px" alt="" style="margin-top: 7px;" />
        </a>
        <a class="d-flex align-items-center mx-2 " href="https://cdcn.org/" target="_blank">
          <img src="./assets/czi.svg" height="20px" alt="" style="margin-top: 7px;" />
        </a>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</div>





<div class="nav2">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Navbar brand -->


      <ul class="navbar-nav">
        <!-- Dropdown -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-mdb-toggle="dropdown" aria-expanded="false">
            Navigation
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/about.html">About the ROADMAP project</a></li>
            <li><a class="dropdown-item" href="/roadmap.html">Explore interactive roadmap</a></li>
            <li><a class="dropdown-item" href="/survey-data.html">Explore survey data</a></li>
            <li><a class="dropdown-item" href="/datasets.html">Download datasets</a></li>
          </ul>
        </li>

      </ul>

      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="/index.html">
          <img src="./assets/ROADMAP.png" height="25px;" style="margin-top: -10px;" alt="logo" /> </a>
      </div>
    </div>
  </nav>
</div>