<!-- Main container -->
        <div class="abs-center container">
            <!-- Header -->
            <h2>HEADER GOES HERE</h2>
            
            <!-- Map SVG Container -->
            <div class="rela-block svg-container">
                <svg viewbox="0 0 300 450" class="metro-svg">
                    
                    <!-- Tracks -->
                    <path class="track line1" d="M 60 400 L 110 400 Q 130 400 130 380 L 130 180 
                                                 Q 130 160 110 160 L 20 160" />            
                    <path class="track line2" d="M 165 430 L 145 405 Q 138 395 138 380 L 138 145 
                                                 Q 138 130 120 110 L 100 90 Q 80 70 80 40" />
                    <path class="track line3" d="M 240 350 L 166 350 Q 146 350 146 330 L 146 150 
                                                 Q 146 130 166 125 S 186 120 186 100 L 186 40" />
                    <path class="track line4" d="M 60 320 L 200 320 Q 220 320 220 300 L 220 150 
                                                 Q 220 130 240 110 L 250 100" />
                    
                    <!-- Line 1 Stations -->
                    <circle class="station line1" cx="60" cy="400" data-type="asdf"/>
                    <circle class="station line1" cx="80" cy="160" data-type="asdf"/>
                    <circle class="station line1" cx="20" cy="160" />
                    
                    <!-- Line 2 Stations -->
                    <circle class="station line2" cx="165" cy="430" />
                    <circle class="station line2" cx="80" cy="40" />
                    <circle class="station big-station line2" cx="110" cy="100" />
                    
                    <!-- Line 3 Stations -->
                    <circle class="station line3" cx="240" cy="350" />
                    <circle class="station line3" cx="186" cy="40" />
                    <circle class="station line3" cx="186" cy="95" />
                    
                    <!-- Line 4 Stations -->
                    <circle class="station line4" cx="60" cy="320" />
                    <circle class="station line4" cx="250" cy="100" />
                    <circle class="station big-station line4" cx="220" cy="280" />
                    
                    <!-- Junctions -->
                    <rect class="junction line1 line2 line3 line4" x="123" y="313" />
                    <rect class="junction line1 line2 line3" x="123" y="180" />
                    
                </svg>
            </div>
            
            <!-- Track Select Bar -->
            <div class="rela-block select-container">
                <div class="mover left"></div>
                <div class="mover right"></div>
                <div class="abs-center track-select ts0">All Lines</div>
                <div class="abs-center track-select ts1">Coastal Line</div>
                <div class="abs-center track-select ts2">Central Line</div>
                <div class="abs-center track-select ts3">North Line</div>
                <div class="abs-center track-select ts4">East Line</div>
            </div>
            
        </div>