<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 26.5.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 829.7 1062.1" style="enable-background:new 0 0 829.7 1062.1;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#29304C;stroke-width:20;stroke-miterlimit:10;}
	.st1{fill:none;stroke:#29304C;stroke-width:16;stroke-miterlimit:10;}
	.st2{fill:#161B2B;}
	.st3{font-family:'FranklinGothic-Demi';}
	.st4{font-size:16.5975px;}
	.st5{fill:#F8C208;stroke:#29304C;stroke-miterlimit:10;}
	.st6{fill:#FF2132;stroke:#29304C;stroke-miterlimit:10;}
	.st7{fill:#2E85D9;stroke:#29304C;stroke-miterlimit:10;}
	.st8{fill:#C7F464;stroke:#29304C;stroke-miterlimit:10;}
	.st9{fill:#CE5AFF;stroke:#29304C;stroke-miterlimit:10;}
	.st10{fill:#F0F1F2;stroke:#161B2B;stroke-miterlimit:10;}
	.st11{fill:#C1C1C1;}
	.st12{font-family:'ObjektivMk1-BoldItalic';}
	.st13{font-size:11.065px;}
</style>
<g id="main_map">
	<line class="st0 main_line" x1="56.8" y1="42.5" x2="56.1" y2="695.4"/>
    <polyline class="st1 prep_main" points="62.9,139 110.5,115.8 424.7,119.3 	"/>
	<line class="st1 drugid_main" x1="54.4" y1="262.9" x2="424.7" y2="261.9"/>
	<polyline class="st1 validation_main" points="57.6,398.8 132.6,417.9 230,431 300.4,435.4 424.7,435.3 	"/>
	<line class="st1 outcome_main" x1="57" y1="667.3" x2="424.1" y2="667.6"/>
	<line class="st1 clinical_main" x1="137.8" y1="558.2" x2="424.1" y2="558.2"/>

	<line class="st1 prep_funding" x1="118.6" y1="115.6" x2="113" y2="92.1"/>
	<line class="st1 prep_registries" x1="176.3" y1="160.5" x2="172.8" y2="114.5"/>
	<line class="st1 prep_biobank" x1="235.1" y1="188.6" x2="235.5" y2="112.5"/>
	<line class="st1" x1="120.9" y1="486.7" x2="120.9" y2="414.9"/>
	<line class="st1" x1="170.5" y1="486.7" x2="170.5" y2="423"/>
	<line class="st1" x1="209.4" y1="490.5" x2="212.3" y2="428.7"/>
	<line class="st1" x1="263.9" y1="486.7" x2="263.9" y2="432.6"/>
	<line class="st1" x1="309.3" y1="463.4" x2="309.3" y2="435.4"/>
	<line class="st1" x1="348.2" y1="459.6" x2="348.2" y2="435.4"/>
	<polyline class="st1 clinical_trials_success" points="57.9,552.4 125.4,552.4 137.8,558.2 137.8,667.3 	"/>
	<line class="st1 drugid_computational" x1="141.3" y1="348" x2="141.1" y2="263.8"/>
	<line class="st1 drugid_drug_screens" x1="262.5" y1="329.2" x2="218.4" y2="261.7"/>
	<polyline class="st1 clinical_analyzing_funding" points="269,619.7 212,619.7 211.7,558.2 263.3,558.2 	"/>
	<line class="st1 drugid_biology" x1="356.4" y1="318.5" x2="356.1" y2="264.1"/>
</g>
<g id="main_labels">
	<text transform="matrix(1 0 0 1 435.9014 249.7671)" class="st2 st3 st4">DRUG </text>
	<text transform="matrix(1 0 0 1 435.9014 269.6846)" class="st2 st3 st4">IDENTIFICATION</text>
	<text transform="matrix(1 0 0 1 436.2559 440.0024)" class="st2 st3 st4">VALIDATION</text>
	<text transform="matrix(1 0 0 1 438.7256 564.2988)" class="st2 st3 st4">CLINICAL</text>
	<text transform="matrix(1 0 0 1 435.9873 673.1055)" class="st2 st3 st4">OUTCOME</text>
	<text transform="matrix(1 0 0 1 437.7373 124.7734)" class="st2 st3 st4">PREP</text>
</g>
<g id="main_stops">
    <g id=" svgButton" type="button" onclick=view1() class="">
        <circle class="st5" cx="58.3" cy="139.6" r="13.2"/>
    </g>

    <g id=" svgButton" type="button" onclick=view2() class="">
        <circle class="st6" cx="57.7" cy="261.9" r="13.2"/>
    </g>

    <g id=" svgButton" type="button" onclick=view3() class="">
		<ellipse transform="matrix(3.327795e-02 -0.9994 0.9994 3.327795e-02 -342.356 441.6403)" class="st7" cx="57.1" cy="397.8" rx="13.2" ry="13.2"/>
    </g>

    <g id=" svgButton" type="button" onclick=view4() class="">
		<ellipse transform="matrix(3.327795e-02 -0.9994 0.9994 3.327795e-02 -342.356 441.6403)" class="st7" cx="57.1" cy="397.8" rx="13.2" ry="13.2"/>
	<circle class="st8" cx="57.7" cy="552.1" r="13.2"/>
    </g>
    <g id=" svgButton" type="button" onclick=view5() class="">
        <circle class="st9" cx="55.8" cy="667.6" r="13.2"/>
    </g>

	
</g>
<g id="Layer_5">
	<circle class="st10" cx="172.7" cy="116.9" r="7.7"/>
	<circle class="st10" cx="235.4" cy="116.9" r="7.7"/>
	<circle class="st10" cx="118.6" cy="114.4" r="7.7"/>
	<circle class="st10" cx="141.3" cy="263.8" r="7.7"/>
	<circle class="st10" cx="170.2" cy="424.8" r="7.7"/>
	<circle class="st10" cx="121" cy="416.8" r="7.7"/>
	<circle class="st10" cx="212" cy="558.2" r="7.7"/>
	<circle class="st10" cx="212" cy="619.7" r="7.7"/>
	<circle class="st10" cx="137.6" cy="667.6" r="7.7"/>
	<circle class="st10" cx="137.6" cy="560.7" r="7.7"/>
	<circle class="st10" cx="217.6" cy="263.8" r="7.7"/>
	<circle class="st10" cx="212.6" cy="428.5" r="7.7"/>
	<circle class="st10" cx="263.6" cy="435.3" r="7.7"/>
	<circle class="st10" cx="309.1" cy="436.5" r="7.7"/>
	<circle class="st10" cx="348.5" cy="436.5" r="7.7"/>
	<circle class="st10" cx="356.4" cy="261.9" r="7.7"/>
	<text transform="matrix(1 0 0 1 92.1904 82.6353)" class="st11 st12 st13">Funding</text>
	<text transform="matrix(1 0 0 1 148.5342 177.2637)" class="st11 st12 st13">Registries</text>
	<text transform="matrix(1 0 0 1 211.6021 202.5903)" class="st11 st12 st13">Biobank</text>
	<text transform="matrix(1 0 0 1 245.9893 363.5244)" class="st11 st12 st13">Drug </text>
	<text transform="matrix(1 0 0 1 245.9893 376.8022)" class="st11 st12 st13">screens</text>
	<text transform="matrix(1 0 0 1 100.3643 359.8359)" class="st11 st12 st13">Computational</text>
	<text transform="matrix(1 0 0 1 100.3643 373.1143)" class="st11 st12 st13">techniques</text>
	<path class="st11" d="M262.5,329.2"/>
	<text transform="matrix(1 0 0 1 334.9941 337.0908)" class="st11 st12 st13">Biology-first</text>
	<text transform="matrix(1 0 0 1 334.9941 350.3691)" class="st11 st12 st13">approach</text>
	<text transform="matrix(1 0 0 1 98.4404 504.2954)" class="st11 st12 st13">Animal</text>
	<text transform="matrix(1 0 0 1 98.4404 517.5732)" class="st11 st12 st13">studies</text>
	<text transform="matrix(1 0 0 1 161.7568 501.2212)" class="st11 st12 st13">In</text>
	<text transform="matrix(1 0 0 1 161.7568 514.5)" class="st11 st12 st13">vitro</text>
	<text transform="matrix(1 0 0 1 201.9863 503.8037)" class="st11 st12 st13">RWE</text>
	<text transform="matrix(1 0 0 1 256.6299 504.2949)" class="st11 st12 st13">etc</text>
	<text transform="matrix(1 0 0 1 304.0142 477.8623)" class="st11 st12 st13">etc</text>
	<text transform="matrix(1 0 0 1 338.4385 476.0181)" class="st11 st12 st13">etc</text>
	<text transform="matrix(1 0 0 1 188.9648 641.5537)" class="st11 st12 st13">Funding</text>
	<text transform="matrix(1 0 0 1 224.8096 577.5)" class="st11 st12 st13">Analyzing</text>
	<text transform="matrix(1 0 0 1 84.6533 575.6553)" class="st11 st12 st13">Trials</text>
	<text transform="matrix(1 0 0 1 147.355 686.3047)" class="st11 st12 st13">Success</text>
</g>
</svg>
