<style>
    .main_line {
        height: 100vh;
        width: 25px;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
        margin-left: 100px;
        background-color: lightgray;
        position: absolute;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        z-index: 0 !important;
    }

    .main_stop {
        margin-top: 80px;
        padding-top: 50px;
    }

    .main_dot {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: aliceblue;
        border: 1px solid black;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

        z-index: 1000 !important;
    }

    .main_dot_text {
        text-transform: uppercase;
        white-space: nowrap;
        margin-top: -9px;
        margin-left: -80px;
        font-family: 'Work Sans', sans-serif;
        font-size: 10px;
        font-weight: 500;
        color: black;
    }

    .branch_line_inactive {
        margin-left: 24px;
        height: 14px;
        width: 0;
        background-color: lightgray;
        display: flex;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

        position: relative;
        flex-direction: row;
        justify-content: space-between;
        z-index: 2 !important;
        transition: .8s ease;
    }

    .branch_dot_active {
        list-style: none;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background: white;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

        border: none;
        line-height: 2em;
        text-align: center;
        margin-left: 10px;
        margin-right: 30px;
        top: -22px;
        border-radius: 2em;
        z-index: 100000;
        font-weight: 700;
        transition: .8s ease;
    }

    .branch_line_active {
        height: 14px;
        width: 37vw;
        background-color: lightgray;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1 !important;
        transition: width 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    #branch_line_2.branch_line_active {
        background-color: #00B050 !important;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    }

    #branch_line_3.branch_line_active {
        background-color: #F71E2F !important;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    }

    #branch_line_4.branch_line_active {
        background-color: #7AACDD !important;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    }

    #branch_line_5.branch_line_active {
        background-color: #F9A72B !important;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    }

    .branch_dot_inactive {
        opacity: 0;
    }

    .branch_dot_active {
        opacity: 100%;
    }

    #branch_dot_3,
    #branch_dot_2,
    #branch_dot_4,
    #branch_dot_5,
    #branch_dot_1 {
        display: flex;
        position: relative;
        flex-direction: row;

    }

    .branch_dot {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
        border: 1px solid black;
        line-height: 2em;
        margin-left: 80px;
        opacity: 100%;
        margin-right: 30px;
        border-radius: 2em;
        font-weight: 700;
        transition: .8s ease;
        z-index: 1000000 !important;
    }

    .main_dot:hover,
    .branch_dot:hover {
        background: black;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    }

    .branch_dot_text {
        margin-top: 15px;
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
        text-align: center;
    }

    #line_progress {
        background-color: #989898;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
        height: 110px;
        transition: .2s linear;
    }

    #line_progress.progress_1 {
        height: 150px;
    }

    #line_progress.progress_2 {
        height: 320px;
    }

    #line_progress.progress_3 {
        height: 435px;
    }

    #line_progress.progress_4 {
        height: 604px;
    }

    #line_progress.progress_5 {
        height: 770px;
    }


    #pill_container {
        display: block;
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -17px;
        z-index: 200;
        transition: top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transition: top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    #main_pill {
        display: block;
        position: relative;
        margin-top: -45px;
        margin-left: -10px;
        background-size: contain;
        background-position: center;
        transition: top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transition: top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
        z-index: 10;
    }


    #main_pill_img {
        display: block;
        position: relative;
        width: 60px;
        height: 60px;
        -webkit-transform-origin: 50% 10px;
        -moz-transform-origin: 50% 10px;
        -ms-transform-origin: 50% 10px;
        -o-transform-origin: 50% 10px;
        transition: top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -webkit-transition: top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        -moz-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
        -ms-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
        -o-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);


    }


    #pill_container,
    #pill_container.animate_1 {
        top: 150px;

    }

    #pill_container.animate_2 {
        top: 310px;
    }

    #pill_container.animate_3 {
        top: 470px;
    }

    #pill_container.animate_4 {
        top: 645px;
    }

    #pill_container.animate_5 {
        top: 810px;
    }

    #heading_1,
    #heading_2,
    #heading_3,
    #heading_4,
    #heading_5 {
        display: none;
    }

    #heading_1.active_heading_1 {
        display: block;
    }

    #heading_2.active_heading_2 {
        background-color: #00B050;
        color: #fff;
        text-align: right;
        display: block;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

    }

    #heading_3.active_heading_3 {
        background-color: #F71E2F;
        color: #fff;
        text-align: right;
        display: block;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

    }

    #heading_4.active_heading_4 {
        background-color: #7AACDD;
        color: #000;
        text-align: right;
        display: block;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");

    }

    #heading_5.active_heading_5 {
        background-color: #F9A72B;
        color: #000;
        text-align: right;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
        display: block;
    }

    #heading_outcome.active_heading_outcome {
        background-color: #2E3092;
        color: #fff;
        text-align: right;
        background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
        display: block;
    }

    .branch_dot,
    .main_dot {
        cursor: pointer;
    }
    
</style>