/* CSS DIRECTORY
	1. =GLOBAL
  2. =NAVBAR
  
*/

/* ===GLOBAL=== 

    defines theme fonts;
    defines assorted class-specific global styles

*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {

  /* colors */
  --roadmap_dark: #363443;
  --roadmap_light: #fafafa;
  --accent1: #2E3093;
  --accent2: #7AACDD;
  --accent3: #F04E3E;
  --accent4: #F9C20A;

  /* paper textures */
  --project_paper: url("https://www.transparenttextures.com/patterns/project-paper.png");
  --cardboard: url("https://www.transparenttextures.com/patterns/cardboard.png");
  --noisy_grid: url("https://www.transparenttextures.com/patterns/noisy-grid.png");

}

* {
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--roadmap_light) !important;
  background-image: var(--noisy_grid);
}

h1,
h2 {
  font-weight: 600 !important;
}

figcaption {
  font-size: 11px;
  margin-top: 0px;
  margin-left: 2px;
  padding-top: 5px;
  font-style: italic;
  text-align: center;
}

body,
.fontWorkSans {
  font-family: 'IBM Plex Sans', sans-serif !important;
}

body {
  min-height: 100vh !important;
}

body a {
  color: var(--accent1);
}

body p,
body li,
body ol {
  font-size: .85em;
  color: var(--roadmap_dark);

}

h1 {
  font-weight: 800;
  font-size: 3em;
  color: var(--roadmap_dark);

}

h2 {
  font-weight: 600;
  font-size: 2em;

}

h3 {
  font-weight: 500;
  font-size: 1.5em;

}

h4 {
  font-weight: 600;
  font-size: 1em;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--roadmap_dark);

}

.fontWeightBold {
  font-weight: 800 !important;
}

.centered {
  text-align: center;
}

.transparent {
  background-color: transparent !important;
}

/* ===NAVBAR=== 

    formats navbar;
    replaces horizontal nav with single dropdown when screen size is below 66em

*/

/* general navbar formatting */
.navbar {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 45px;

}

.dropdown {
  margin-top: -5px;
  padding-left: 30px;
}


/* toggle larger/smaller navbars based on screen width */
@media screen and (max-width: 65em) {
  .nav1 {
    display: none;
  }

  .nav2 {
    display: block;
  }
}

@media screen and (min-width: 66em) {
  .nav1 {
    display: block;
  }

  .nav2 {
    display: none;
  }
}