/* CSS DIRECTORY
    1. =OVERLAY
	2. =SPLIT SCREEN
	3. =VERTICAL SUBWAY LINE
    4. =PILL
	5. =HORIZONTAL SUBWAY BRANCHES
	6. =CONTENT
    7. =HEADINGS
    8. =MEDIA RULES (INCL. PILL ANIMATIONS)
*/

/* ===OVERLAY=== 

    create the layer that acts as a popup 
    when the tool is loaded/refreshed

*/

/* create the main overlay (that the white background sits on top of) */
.overlay {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(135, 135, 135, 0.87);
    background-image: var(--cardboard);
}

/* add a little padding around the white screen */
.overlay div {
    margin: 3vh auto;
    width: auto;
    padding: 40px;
    min-height: 50vh;
}

/* create the white screen (where the conent goes) */
.overlay_content {
    width: 70vw !important;
    background: rgba(255, 255, 255, .9);
}

/* adjust the top-most heading */
.overlay_heading {
    font-size: 1.8em;
    margin-top: -30px;
}

/* button controls */
[aria-hidden="true"] {
    display: none;
}

[aria-hidden="false"] {
    display: block;
}

/* open button (to re-open the overlay) */
.open-overlay {
    background-color: var(--accent2);
    background-image: var(--cardboard);
    color: var(--roadmap_light);
    border: none;
    font-size: .8em;

}

.open-overlay:hover {
    background-color: var(--accent4);
    background-image: var(--cardboard);
    color: var(--roadmap_dark);
    border: none;
    font-size: .8em;

}

/* close button (to exist the overlay) */
.close-overlay {
    box-shadow: 5px 5px 15px #d5d5d5,
        -11px -11px 21px #ffffff;
    font-size: 12px;
    padding: 10px;
    color: var(--roadmap_light);
    background-color: transparent;
    border: none;
    transition: .3s;
    box-shadow: none;
    -webkit-transition: -webkit-transform .25s, opacity .25s;
    -moz-transition: -moz-transform .25s, opacity .25s;
    transition: transform .25s, opacity .25s;
    opacity: .5;
    width: 100px;
}

.close-overlay:hover,
.close-overlay:active {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 1;
}

/* adjust the 3 tabs that load the main overlay content */
.nav-tabs .nav-item .nav-link {
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    font-size: .9em;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60vw;
}

.nav-item .overlay_link:hover {
    background-color: var(--accent4);
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
}

.nav-tabs .nav-item .nav-link.active {
    background-image: url("https://www.transparenttextures.com/patterns/project-paper.png");
    color: var(--roadmap_dark);
    font-weight: 800;
}

/* ===SPLIT SCREEN=== 

    split the screen into 2 sides:
    left side is where the subway map lives 
    right side is where the content lives

*/

/* split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* create the right side */
.right {
    right: 0;
    margin-top: 90px !important;
}


/* ===VERTICAL SUBWAY LINE=== 

    create the main/vertical subway line on the left side of the screen;
    populate it with stops;
    create progress bar that fills w/ pill movement;

*/

/* create the vertical line */
.main_line {
    height: 100vh;
    width: 25px;
    background-image: var(--cardboard);
    margin-left: 150px;
    background-color: lightgray;
    position: absolute;
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 0 !important;
}

/* the darker gray line that fills line as the pill travels */
#line_progress {
    background-color: darkslategray;
    background-image: var(--cardboard);
    height: 105px;
    transition: .6s linear;
}

/* create "dots" for each of the main stops*/
.main_dot {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 1px solid black;
    position: absolute;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    z-index: 1 !important;
}

/* format the name of each main stop*/
.main_dot_text,
.main_dot_text p,
.main_dot_text span {
    text-transform: uppercase;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: -180px;
    height: 100px;
    position: relative;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    float: center;
    color: var(roadmap_dark);
}

/* ===PILL=== 

    create the main/vertical subway line on the left side of the screen;
    populate it with stops;
    create progress bar that fills w/ pill movement;

*/

/* pill container 1 */
#pill_container {
    position: absolute;
    top: 30px;
    margin-left: -10px;
    z-index: 200;
}

/* pill container 2 */
#main_pill {
    position: relative;
    margin-top: -45px;
    margin-left: -8px;
    background-size: contain;
    background-position: center;
    z-index: 10;
}

/* the 2 containers that hold the pill img move together */
#pill_container,
#main_pill {
    display: block;
    transition: top 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: top 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* img of the pill */
#main_pill_img {
    display: block;
    position: relative;
    width: auto;
    height: 60px;
    margin-left: 7px;
    -webkit-transform-origin: 50% 10px;
    -moz-transform-origin: 50% 10px;
    -ms-transform-origin: 50% 10px;
    -o-transform-origin: 50% 10px;
    transition: top 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition: top 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}


/* ===HORIZONTAL SUBWAY BRANCHES=== 

    create the horizontal subway branches on the left side of the screen;
    populate the branches with stops;
    create classes to enable show/hide toggle

*/

/* create the branches that stem out of the main subway line*/
.branch_line_active {
    height: 14px;
    background-color: lightgray;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    display: flex;
    position: relative;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
    z-index: 1 !important;
    transition: width 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

/* helps with branch spacing */
.flexcontainer {
    display: flex;
    justify-content: space-between;
    margin-left: 50px !important;
}

/* hide branches until stops are clicked */
.branch_line_inactive {
    width: 0vw;
}

/* give all branches cardboard texture */
.branch_line_2.branch_line_active,
.branch_line_3.branch_line_active,
.branch_line_4.branch_line_active,
.branch_line_5.branch_line_active {
    background-image: var(--cardboard);

}

/* customize the color of each branch*/

#branch_line_2.branch_line_active {
    background-color: #00B050 !important;
}

#branch_line_3.branch_line_active {
    background-color: #F71E2F !important;
}

#branch_line_4.branch_line_active {
    background-color: #7AACDD !important;
}

#branch_line_5.branch_line_active {
    background-color: #F9A72B !important;
}

/* add the "dots" for each stop along the branches
and arrange the dots in evenly-spaced lines*/
.branch_dot,
.branch_dot_active {
    background-image: var(--cardboard);
    border-radius: 50%;
    background-color: white;
    font-weight: 700;

}

.branch_dot_active {
    list-style: none;
    width: 0px;
    height: 0px;
    border: none;
    line-height: 2em;
    text-align: center;
    margin-left: 10px;
    margin-right: 30px;
    top: -22px;
    border-radius: 2em;
    z-index: 100000;
    transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -93px;
}

.branch_dot {
    width: 14px;
    height: 14px;
    border: 1px solid black;
    opacity: 100%;
    margin: 20px;
    margin-top: -15px !important;
    border-radius: 2em;
    margin-right: 4.5vw;
    z-index: 1000000 !important;
}

.branch_dot_text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    line-height: 1.5em !important;
}

/* add subway stop hover/click effect */
.main_dot:hover,
.branch_dot:hover,
.main_dot:focus,
.branch_dot:focus {
    background: black;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
}

/* arrange branch stops in evenly-spaced row  */
#branch_dot_3,
#branch_dot_2,
#branch_dot_4,
#branch_dot_5,
#branch_dot_1 {
    display: flex;
    position: relative;
    flex-direction: row;
}

#branch_dot {
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: flex-between;
    /* flush against edges */
    -webkit-justify-content: flex-around;
    /* space at left/right */
}

/* hide branch stops until clicked */
.branch_dot_inactive {
    opacity: 0;
}

.branch_dot_active {
    opacity: 100%;
}

/* turns cursor arrow to hand on hover */
.branch_dot,
.main_dot {
    cursor: pointer;
}

/* format the location pin */
.location {
    height: 30px;
    width: auto;
    margin-left: -1px;
    margin-top: -50px;
    position: absolute;
    display: none;
}

/* ===CONTENT=== 

    show/hide the panels on the right when clicked
    assorted panel-specific formatting

*/

.active_panel {
    display: block !important;
}

.inactive_panel {
    display: none !important;
}

/* format the low-opacity images on each branch's landing panel */
.main_page_image {
    height: 80vh;
    max-width: 50vw !important;
    object-fit: cover;
    opacity: 7%;
}


/* ===HEADINGS=== 

    format the headings that change text/color as 
    you navigate between the subway branches

*/

/* hide all branch headings by default */
#heading_2,
#heading_3,
#heading_4,
#heading_5,
#heading_2_1,
#heading_2_2,
#heading_2_3,
#heading_2_4,
#heading_2_5,
#heading_3_1,
#heading_3_2,
#heading_3_3,
#heading_4_1,
#heading_4_2,
#heading_5_1,
#heading_5_2,
#heading_5_3 {
    display: none;
}

/* format all branch headings & subheadings */

#heading_2.active_heading_2,
#heading_2_1.active_heading_2_1,
#heading_2_2.active_heading_2_2,
#heading_2_3.active_heading_2_3,
#heading_2_4.active_heading_2_4,
#heading_2_5.active_heading_2_5,
#heading_3.active_heading_3,
#heading_3_1.active_heading_3_1,
#heading_3_2.active_heading_3_2,
#heading_3_3.active_heading_3_3,
#heading_4.active_heading_4,
#heading_4_1.active_heading_4_1,
#heading_4_2.active_heading_4_2,
#heading_5.active_heading_5,
#heading_5_1.active_heading_5_1,
#heading_5_2.active_heading_5_2,
#heading_5_3.active_heading_5_3 {
    text-align: right;
    display: block;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    padding-top: 13px !important;
    padding-bottom: 14px !important;

}

/* format branch 2 headings */
#heading_2.active_heading_2,
#heading_2_1.active_heading_2_1,
#heading_2_2.active_heading_2_2,
#heading_2_3.active_heading_2_3,
#heading_2_4.active_heading_2_4,
#heading_2_5.active_heading_2_5 {
    background-color: #00B050;
}

/* format branch 3 headings */
#heading_3.active_heading_3,
#heading_3_1.active_heading_3_1,
#heading_3_2.active_heading_3_2,
#heading_3_3.active_heading_3_3 {
    background-color: #F71E2F;
}

#heading_4.active_heading_4,
#heading_4_1.active_heading_4_1,
#heading_4_2.active_heading_4_2 {
    background-color: #7AACDD;
}

#heading_5.active_heading_5,
#heading_5_1.active_heading_5_1,
#heading_5_2.active_heading_5_2,
#heading_5_3.active_heading_5_3 {
    background-color: #F9A72B;

}


/* ===MEDIA RULES (INCL. PILL ANIMATIONS)=== 

    make content responsive (it changes width/height based on the screen's size).
    when screen size is too small to display content, show warning instead.

    adjust animations based on screen size.

*/

/* by default, don't show the warning */
.warning {
    display: none;
}

/* show warning (+ hide everything else) on screens that are shorter than 650px */
@media screen and (min-height: 1px) and (max-height: 650px) {

    .main_line,
    .main_stop,
    .main_dot,
    #main_pill,
    .overlay,
    .main_stop_1,
    .intro,
    #mainstop1,
    #mainstop2,
    #mainstop3,
    #mainstop4,
    #mainstop5,
    #mainstop2_stop1,
    #mainstop2_stop2,
    #mainstop2_stop3,
    #mainstop2_stop4,
    #mainstop2_stop5,
    #mainstop3_stop1,
    #mainstop3_stop2,
    #mainstop3_stop3,
    #mainstop4_stop1,
    #mainstop4_stop2,
    #mainstop5_stop1,
    #mainstop5_stop2,
    #mainstop5_stop3,
    #mainstop5_stop4,
    #mainstop5_stop5,
    #branch_line_2,
    #branch_line_3,
    #branch_line_4,
    #branch_line_5,
    #heading_2,
    #heading_3,
    #heading_4,
    #heading_5,
    #heading_2_1,
    #heading_2_2,
    #heading_2_3,
    #heading_2_4,
    #heading_2_5,
    #heading_3_1,
    #heading_3_2,
    #heading_3_3,
    #heading_4_1,
    #heading_4_2,
    #heading_5_1,
    #heading_5_2,
    #heading_5_3 .location {
        display: none !important;
    }

    .warning {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .overlay_text {
        padding: 10px;
    }

}

/*  show warning (+ hide everything else) on screens that are narrower than 1190px */

@media screen and (max-width: 1190px) {

    .main_line,
    .main_stop,
    .main_dot,
    #main_pill,
    .overlay,
    .main_stop_1,
    .intro,
    #mainstop1,
    #mainstop2,
    #mainstop3,
    #mainstop4,
    #mainstop5,
    #mainstop2_stop1,
    #mainstop2_stop2,
    #mainstop2_stop3,
    #mainstop2_stop4,
    #mainstop2_stop5,
    #mainstop3_stop1,
    #mainstop3_stop2,
    #mainstop3_stop3,
    #mainstop4_stop1,
    #mainstop4_stop2,
    #mainstop5_stop1,
    #mainstop5_stop2,
    #mainstop5_stop3,
    #mainstop5_stop4,
    #mainstop5_stop5,
    #branch_line_2,
    #branch_line_3,
    #branch_line_4,
    #branch_line_5,
    #heading_2,
    #heading_3,
    #heading_4,
    #heading_5,
    #heading_2_1,
    #heading_2_2,
    #heading_2_3,
    #heading_2_4,
    #heading_2_5,
    #heading_3_1,
    #heading_3_2,
    #heading_3_3,
    #heading_4_1,
    #heading_4_2,
    #heading_5_1,
    #heading_5_2,
    #heading_5_3 {
        display: none !important;
    }

    .warning {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .overlay_content {
        padding: 10px !important;
    }
}

.main_stop {
    height: 100px;
}

/* MEDIA RULES: adjust main line based on height */
#line_progress.progress_5 {
    height: 100vh;
}

/* smalllest allowable screen size */
@media screen and (max-height: 750px) {
    .main_stop_1 {
        margin-top: 90px !important;
    }

    .main_stop {
        margin-top: 20px;

    }

    #line_progress.progress_1 {
        height: 105px;
    }

    /* home */
    #line_progress.progress_2 {
        height: 225px;
    }

    /* identification */
    #line_progress.progress_3 {
        height: 335px;
    }

    /* validation */
    #line_progress.progress_4 {
        height: 465px;
    }

    /* clinical use */

    #pill_container,
    #pill_container.animate_1 {
        top: 115px;
    }

    /* home */
    #pill_container.animate_2 {
        top: 235px;
    }

    /* identification */
    #pill_container.animate_3 {
        top: 355px;
    }

    /* validation */
    #pill_container.animate_4 {
        top: 475px;
    }

    /* clinical use */
    #pill_container.animate_5 {
        top: 595px;
    }
}

/* medium allowable screen size */
@media screen and (max-height: 900px) {
    .main_stop_1 {
        margin-top: 90px !important;
    }

    .main_stop {
        margin-top: 50px;
    }

    #line_progress.progress_1 {
        height: 105px;
    }

    #line_progress.progress_2 {
        height: 250px;
    }

    #line_progress.progress_3 {
        height: 405px;
    }

    #line_progress.progress_4 {
        height: 555px;
    }

    #pill_container,
    #pill_container.animate_1 {
        top: 115px;
    }

    #pill_container.animate_2 {
        top: 265px;
    }

    #pill_container.animate_3 {
        top: 415px;
    }

    #pill_container.animate_4 {
        top: 565px;
    }

    #pill_container.animate_5 {
        top: 715px;
    }
}

/* largest allowable screen size */
@media screen and (min-height: 901px) {
    .main_stop_1 {
        margin-top: 100px !important;
    }

    .main_stop {
        margin-top: 80px;
    }

    #line_progress.progress_1 {
        height: 105px;
    }

    #line_progress.progress_2 {
        height: 300px;
    }

    #line_progress.progress_3 {
        height: 475px;
    }

    #line_progress.progress_4 {
        height: 645px;
    }


    #pill_container,
    #pill_container.animate_1 {
        top: 120px;
    }

    #pill_container.animate_2 {
        top: 305px;
    }

    #pill_container.animate_3 {
        top: 482px;
    }

    #pill_container.animate_4 {
        top: 660px;
    }

    #pill_container.animate_5 {
        top: 843px;
    }

}

@media only screen and (min-width: 1500px) {
    .buttondiv {
        position: absolute;
        right: 300px !important;
    }
}