<h1>COMPUTATIONAL</h1>
<div class = "container p-3">


    <style>
      .icon {
        height: 40px !important;
        object-fit: contain;
      }
    </style>
    
    <!-- Tabs navs -->
    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="ex1-tab-1"
          data-mdb-toggle="tab"
          href="#ex1-tabs-1"
          role="tab"
          aria-controls="ex1-tabs-1"
          aria-selected="true"
          ><img src = "https://img.icons8.com/stickers/344/about--v1.png" class = "icon">&nbsp;About</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="ex1-tab-2"
          data-mdb-toggle="tab"
          href="#ex1-tabs-2"
          role="tab"
          aria-controls="ex1-tabs-2"
          aria-selected="false"
          ><img src = "https://img.icons8.com/stickers/344/idea.png" class = "icon">&nbsp;Insights</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="ex1-tab-3"
          data-mdb-toggle="tab"
          href="#ex1-tabs-3"
          role="tab"
          aria-controls="ex1-tabs-3"
          aria-selected="false"
          ><img src = "https://img.icons8.com/stickers/344/roadblock.png" class = "icon">&nbsp;Roadblocks</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="ex1-tab-4"
          data-mdb-toggle="tab"
          href="#ex1-tabs-4"
          role="tab"
          aria-controls="ex1-tabs-4"
          aria-selected="false"
          ><img src = "https://img.icons8.com/stickers/344/planet-globe.png" class = "icon">&nbsp;Support options</a
        >
      </li>
    </ul>
    <!-- Tabs navs -->
    
    <!-- Tabs content -->
    <div class="tab-content" id="ex1-content">
      <div
        class="tab-pane fade  pt-3 show active"
        id="ex1-tabs-1"
        role="tabpanel"
        aria-labelledby="ex1-tab-1"
      >
        Tab 1 content
      </div>
      <div class="tab-pane fade pt-3" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
        Tab 2 content
      </div>
      <div class="tab-pane fade pt-3" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
        Tab 3 content
      </div>
      <div class="tab-pane fade pt-3" id="ex1-tabs-4" role="tabpanel" aria-labelledby="ex1-tab-4">
        Tab 4 content
      </div>
    </div>
    <!-- Tabs content -->
    
    
    
    
    </div>