<script>

    function home() {
        var view0 = document.getElementById("view0");
        var view1 = document.getElementById("view1");
        var view2 = document.getElementById("view2");
        var view3 = document.getElementById("view3");
        var view4 = document.getElementById("view4");
        var view5 = document.getElementById("view5");
        view0.style.display = "block";
        view1.style.display = "none";
        view2.style.display = "none";
        view3.style.display = "none";
        view4.style.display = "none";
        view5.style.display = "none";
    }


    function view1() {
        var view0 = document.getElementById("view0");
        var view1 = document.getElementById("view1");
        var view2 = document.getElementById("view2");
        var view3 = document.getElementById("view3");
        var view4 = document.getElementById("view4");
        var view5 = document.getElementById("view5");
        view1.style.display = "block";
        view0.style.display = "none";
        view2.style.display = "none";
        view3.style.display = "none";
        view4.style.display = "none";
        view5.style.display = "none";

    }


    function view2() {
        var view0 = document.getElementById("view0");
        var view1 = document.getElementById("view1");
        var view2 = document.getElementById("view2");
        var view3 = document.getElementById("view3");
        var view4 = document.getElementById("view4");
        var view5 = document.getElementById("view5");

        view2.style.display = "block";
        view0.style.display = "none";
        view1.style.display = "none";
        view3.style.display = "none";
        view4.style.display = "none";
        view5.style.display = "none";


    }

    function view2() {
        var view0 = document.getElementById("view0");
        var view1 = document.getElementById("view1");
        var view2 = document.getElementById("view2");
        var view3 = document.getElementById("view3");
        var view4 = document.getElementById("view4");
        var view5 = document.getElementById("view5");

        view2.style.display = "block";
        view0.style.display = "none";
        view1.style.display = "none";
        view3.style.display = "none";
        view4.style.display = "none";
        view5.style.display = "none";

    }

    function view3() {
        var view0 = document.getElementById("view0");
        var view1 = document.getElementById("view1");
        var view2 = document.getElementById("view2");
        var view3 = document.getElementById("view3");
        var view4 = document.getElementById("view4");
        var view5 = document.getElementById("view5");

        view3.style.display = "block";
        view0.style.display = "none";
        view1.style.display = "none";
        view2.style.display = "none";
        view4.style.display = "none";
        view5.style.display = "none";

    }


    function view4() {
        var view0 = document.getElementById("view0");
        var view1 = document.getElementById("view1");
        var view2 = document.getElementById("view2");
        var view3 = document.getElementById("view3");
        var view4 = document.getElementById("view4");
        var view5 = document.getElementById("view5");

        view4.style.display = "block";
        view0.style.display = "none";
        view1.style.display = "none";
        view2.style.display = "none";
        view3.style.display = "none";
        view5.style.display = "none";

    }

    function view5() {
        var view0 = document.getElementById("view0");
        var view1 = document.getElementById("view1");
        var view2 = document.getElementById("view2");
        var view3 = document.getElementById("view3");
        var view4 = document.getElementById("view4");
        var view5 = document.getElementById("view5");

        view5.style.display = "block";
        view0.style.display = "none";
        view1.style.display = "none";
        view2.style.display = "none";
        view3.style.display = "none";
        view4.style.display = "none";

    }
</script>
