<script>

    $(document).ready(function () {

        $('.about_nav_content li:first-child a').click(function () {
            $('#train_stop_0').addClass('current');
            $('#train_stop_1').removeClass('current');
            $('#train_stop_2').removeClass('current');
            $('#train_stop_3').removeClass('current');
            $('#train_stop_4').removeClass('current');
            $('#pill_container').removeClass('animate1 animate2 animate3 animate0');
        });

        var hoverOrClick = function () {
            $("#pill_container").removeClass('animate1 animate2 animate animate_ID3');
            $('#pill_container').addClass('animate0');
            $('#train_stop_0').addClass('current');
            $('#train_stop_1, #train_stop_2, #train_stop_3, #train_stop_4').removeClass('current');
        }
        $('#train_stop_dot_0, #train_stop_0').click(hoverOrClick).hover(hoverOrClick);


        var hoverOrClick = function () {
            $('#pill_container').addClass('animate_ID');
            $("#pill_container").removeClass('animate1 animate2 animate3 animate0');
            $('#train_stop_1').addClass('current');
            $('#train_stop_dot_0,#train_stop_2, #train_stop_3, #train_stop_4').removeClass('current');
        }
        $('#train_stop_dot_1, #train_stop_1').click(hoverOrClick).hover(hoverOrClick);

        var hoverOrClick = function () {
            $('#pill_container').addClass('animate1');
            $("#pill_container").removeClass('animate2 animate3 animate0 animate_ID');
            $('#train_stop_2').addClass('current');
            $('#train_stop_dot_0,#train_stop_1, #train_stop_3, #train_stop_4').removeClass('current');
        }
        $('#train_stop_dot_2, #train_stop_2').click(hoverOrClick).hover(hoverOrClick);

        var hoverOrClick = function () {
            $('#pill_container').addClass('animate2');
            $("#pill_container").removeClass('animate1 animate3 animate0 animate_ID');
            $('#train_stop_3').addClass('current');
            $('#train_stop_dot_0,#train_stop_1, #train_stop_2, #train_stop_4').removeClass('current');
        }
        $('#train_stop_dot_3, #train_stop_3').click(hoverOrClick).hover(hoverOrClick);

        var hoverOrClick = function () {
            $('#pill_container').addClass('animate3');
            $("#pill_container").removeClass('animate1 animate2 animate0 animate_ID');
            $('#train_stop_4').addClass('current');
            $('#train_stop_dot_0,#train_stop_1, #train_stop_2, #train_stop_3').removeClass('current');
        }
        $('#train_stop_dot_4, #train_stop_4').click(hoverOrClick).hover(hoverOrClick);

    });
</script>
